/* 
    Document   : contact
    Created on : Jan 4, 2012, 12:05:30 PM
    Author     : luke
    Description:
        Purpose of the stylesheet follows.
*/
div#contact {
  width: 350px;
}
div#contact input, div#contact select, div#contact textarea, div#contact label{
  display: block; 
  float: left;
  margin: 5px 0 0 0;
  padding: 2px;
}
div#contact input, div#contact textarea{
  width: 200px;
}
div#contact textarea{
  height: 70px;
}
div#contact label{
  clear: both;
  width: 100px;
}
div#contact input.contact-send{
  clear: both;
  width: 100px;
}
div#contact div.contact-error input, div#contact div.contact-error select, div#contact div.contact-error textarea{
  border: solid 2px #AA3333;
  background: #FFDDEE;
}
div#contact span.required{
  color: #BB0000;
}