<!doctype html>
<html>
  <head>
    <title>request recieved</title>
  </head>
  <body>
    <p>{{ name }}</p>
    <p>Thank you for contacting us, we aim to respond to all requests with 24 hours of this email.</p>
    <p>Kind Regards</p>
  </body>
</html>
